<mat-toolbar class="mh-toolbar" color="primary">
  <mat-toolbar-row>
    <mat-icon class="mh-logo" color="white">gavel</mat-icon>
    <h1 class="mh-title">{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="error" class="mh-error">{{error}}</div>
<div *ngIf="jobs">
  <mat-drawer-container class="mh-jobs-container" autosize>
    <div class="mh-jobs-list">
      <mat-list>
        <mat-list-item
          [class]="currentJob && currentJob.id === job.id ? 'mh-job-item selected mat-list-item ng-star-inserted' : 'mh-job-item mat-list-item ng-star-inserted'"
          *ngFor="let job of jobs" (click)="loadJobDetails(job.id)">
          {{job.title}}
          <mat-divider
            [class]="currentJob && currentJob.id === job.id ? 'mat-divider mh-selected-item' : 'mat-divider'"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <mat-drawer #drawer class="mh-job-description" opened="{{showJobDetail}}" mode="side" position="end">
      <div *ngIf="currentJob">
        <mat-card class="mh-job-description-container">
          <mat-card-header>
            <div mat-card-avatar class="mh-job-description-image"
                 [ngStyle]="{'background-image': 'url(' + currentJob.thumbnail + ')'}"></div>
            <mat-card-title>{{currentJob.title}}</mat-card-title>
            <mat-card-subtitle>
              {{currentJob.zip_code}}, {{currentJob.city}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="currentJob.state === 'inactive'" class="mh-inactive-notification-container">
              <span class="mh-inactive-notification">Inactive</span>
            </div>
            <div *ngIf="currentJob.state === 'active' && (currentJob.end_date | date) > (today | date)"
                 class="mh-expired-notification-container">
              <span class="mh-expired-notification">Expired</span>
            </div>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>announcement</mat-icon>&nbsp;Description
                </ng-template>
                <div class="mh-tab-content">
                  {{currentJob.description}}
                </div>
              </mat-tab>
              <mat-tab *ngIf="currentJob.attachments && currentJob.attachments.length > 0">
                <ng-template mat-tab-label>
                  <mat-icon>attachment</mat-icon>&nbsp;Attachments
                </ng-template>
                <div class="mh-tab-content">
                  <mat-grid-list cols="3">
                    <mat-grid-tile *ngFor="let attachment of currentJob.attachments">
                      <mat-card matRipple matRippleColor="primary" class="mh-img-attachment">
                        <img mat-card-image [src]="attachment" [alt]="attachment"/>
                      </mat-card>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>graphic_eq</mat-icon>&nbsp;Statistics
                </ng-template>
                <div class="mh-tab-content">
                  <mat-accordion class="example-headers-align">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Message Stats
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-icon class="mh-stat-icon" matBadge="{{currentJob.counter.messages_total}}">mail</mat-icon>
                      <mat-icon class="mh-stat-icon" matBadge="{{currentJob.counter.messages_unread}}">
                        markunread_mailbox
                      </mat-icon>

                      <mat-action-row *ngIf="currentJob.categories && currentJob.categories.length > 0">
                        <button mat-button color="primary" (click)="nextStep()">Categories</button>
                      </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="currentJob.categories && currentJob.categories.length > 0"
                                         [expanded]="step === 1" (opened)="setStep(1)"
                                         hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Categories
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-chip-list>
                        <mat-chip *ngFor="let category of currentJob.categories" color="primary" selected>
                          {{category.id}}
                        </mat-chip>
                      </mat-chip-list>

                      <mat-action-row>
                        <button mat-button color="primary" (click)="prevStep()">Stats</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
          <mat-card-actions>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <strong>Opened at</strong>&nbsp; {{currentJob.created_at | date:'fullDate'}}
              </mat-list-item>
              <mat-list-item role="listitem" *ngIf="(currentJob.end_date | date) < (today | date)">
                <strong>Apply until</strong>&nbsp; {{currentJob.end_date | date:'fullDate'}}
              </mat-list-item>
            </mat-list>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>


