.mh-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}

.mh-title {
  margin-left: 1em;
}

.mh-error {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 1em;
  display: flex;
  font-size: 1em;
  color: #ee4433;
}

.mh-toolbar .mat-icon {
  margin-left: 1em;
  transform: scale(2);
}

.mh-jobs-container {
  height: 100vh;
  width: 100vw;
}

.mh-jobs-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mh-job-item {
  position: relative;
  cursor: pointer;
}

.mh-job-item.selected {
  color: #673ab7;
  font-weight: bold;
}

.mh-selected-item {
  border-bottom: 2px solid #673ab7;
}

.mh-job-description {
  background-color: aliceblue;
  padding: 1em;
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mh-job-description-image {
  background-size: cover;
}

.mh-job-description-container {
  width: 98%;
  position: relative;
  overflow: hidden;
}

.mh-inactive-notification-container {
  background: #a9a9a9;
}

.mh-expired-notification-container {
  background: #e43;
}

.mh-inactive-notification-container,
.mh-expired-notification-container {
  width: 200px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.mh-inactive-notification,
.mh-expired-notification {
  font-size: 1em;
  font-weight: bold;
}

.mh-tab-content {
  padding: 1em;
  font-size: 16px;
}

.mh-img-attachment {
  width: 240px;
  margin: 5px;
}

.mh-stat-icon {
  margin: 1em;
}
